

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Poppins:wght@500&family=Rubik+Doodle+Shadow&family=Rubik+Scribble&display=swap');

body {
    
    /* color: #a3a0a0; */
    /* background-image: url('./assets/images/univ-s.jpg'); */
    /* background-color: rgba(255, 255, 255, 0); */
    /* background-color: rgba(137, 137, 157, 0.356); */
    /* background-color: transparent; */
    /* background-blend-mode:multiply; */
    background-repeat: no-repeat; 
    background-size: cover;
     /* background-size: 100%;  */
     background-attachment: fixed;
  }
  
  #event-poster{
    border: 2px solid rgb(118, 187, 222);
  }
  .lead{
    margin: 0 3rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.5rem;
  }
  
  @media (max-width:500px)
  {
    .lead{
      padding-bottom : 3rem;
      font-size:1rem;
      margin:0 auto;
    }
  }

 
  .carousel {
    /* height: 100vh; */
    margin-bottom: 4rem;
  }
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  /* e */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .win_text{
  font-weight: 800;
  font-size: 50px;
  font-style: normal;
  /* text-shadow: 2px 2px #eef2f3; */
  color:rgb(171, 220, 253)

  }
   .event-pic{
    width:100%;
    height:90%;
   }
   @media (max-width:1180px) and (min-width:991px)
   {
    .event-pic{
      width:80%;
    }
   }
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  

  /* card */
  .full{
    /* border: 2px solid green; */
    /* padding: 1rem 0; */
    margin-top: 5% !important;
  }

  .winner{
    padding: 1rem 1rem;
    color: white;
    backdrop-filter: blur(10px);
    /* display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-direction: column;  */
    box-shadow: 5px 10px 20px rgb(165, 167, 168) inset;
    border-radius: 15px;
    margin: 2rem 0rem;

  }

  @media (min-width:1000px)
  {
    .winner{
      width:32%;
    }
  }

  .w_section{
    margin: auto;
  }

  .gallery_pic img{
    border-radius: 15px;
    margin: 2rem 0;
  }

  